fastapi==0.115.5
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
httpx==0.27.2
# Optional ML/DB (add when needed)
# scikit-learn==1.5.2
# numpy==2.1.3
# pandas==2.2.3
SQLAlchemy==2.0.36
# alembic==1.14.0
# psycopg2-binary==2.9.10

